doctype html
html(lang='en' ng-app="podcast")
  head
    meta(charset='UTF-8')
    title PodCast
    include includes/styles
  body
    .container-all
      include ../includes/header
      block content
      include ../includes/footer
      include ../includes/scripts




