doctype html
html(lang='en' ng-app="podcast")
  head
    meta(charset='UTF-8' ng-App="podcast")
    title PodCast
    include includes/styles
  body
    .container-all
      block content
      include ../includes/scripts


