header
  nav.navbar.navbar-expand-lg.navbar-dark.blue.darken-3
    .container
      a.navbar-brand(href='#') PodCast
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='index')
              | Inicio 
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Contacto
        ul.navbar-nav.ml-auto
          form.form-inline(method='get', action='queryString')
            input.form-control.mr-sm-2(type='text' placeholder='Buscar' aria-label='Search' name="query")
            button.btn.btn-outline-success.btn-sm.my-2(type='submit')
              i.fa.fa-search.fa-lg
          li.nav-item
            a.nav-link(href='#') Login
          li.nav-item
            a.nav-link(href='#') Register