script(type='text/javascript', src='/js/cdn/jquery-3.1.1.min.js')
script(type='text/javascript', src='/js/cdn/popper.min.js')
script(type='text/javascript', src='/js/cdn/bootstrap.min.js')
script(type='text/javascript', src='/js/cdn/mdb.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')
script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js')
script(type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js")
//- Accordion
script(type='text/javascript', src='/js/accordion/accordion.js')
//- Player
script(type='text/javascript', src='/js/player/player.js')
//- Main
script(type='text/javascript', src='/js/main.js')
//- Services
script(type='text/javascript', src='/js/services/StorageService.js')
script(type='text/javascript', src='/js/services/authCheck.js')
  script(type='text/javascript', src='/js/services/authService.js')

//- Controller Routes
script(type='text/javascript', src='/js/favorite/controller.js')
script(type='text/javascript', src='/js/search/controller.js')
script(type='text/javascript', src='/js/register/controller.js')
script(type='text/javascript', src='/js/login/controller.js')
script(type='text/javascript', src='/js/account/update-profile/controller.js')