script(type='text/javascript', src='/js/cdn/jquery-3.2.1.js')
script(type='text/javascript', src='/js/cdn/popper.min.js')
script(type='text/javascript', src='/js/cdn/bootstrap.min.js')
script(type='text/javascript', src='/js/cdn/mdb.min.js')
script(type='text/javascript', src='/js/cdn/angular.js')
script(type='text/javascript', src='/js/cdn/angular-route.min.js')
script(type='text/javascript', src='/js/cdn/angular-jwt.js')
//- Bower
script(src="/bower_components/ng-file-upload/ng-file-upload-shim.min.js")
script(src="/bower_components/ng-file-upload/ng-file-upload.min.js")
//- Accordion
script(type='text/javascript', src='/js/accordion/accordion.js')
//- Player
script(type='text/javascript', src='/js/player/player.js')
//- Main
script(type='text/javascript', src='/js/main.js')
//- Services
script(type='text/javascript', src='/js/services/StorageService.js')
script(type='text/javascript', src='/js/services/authCheck.js')
script(type='text/javascript', src='/js/services/authService.js')
script(type='text/javascript', src='/js/services/UsersService.js')
//- Controller Routes
script(type='text/javascript', src='/js/favorite/controller.js')
script(type='text/javascript', src='/js/search/controller.js')
script(type='text/javascript', src='/js/user/update-profile/controller.js')
script(type='text/javascript', src='/js/nav-bar/controller.js')
