extends ../layout/layout

block content
  .container-podcast
    main
      p
        for item in podcast
          h1.text-center 
            =item.name
    // Main layout
    main.mt-5
      .container
        for item in podcast
          .row
            .col-md-4
              img.img-fluid.episodes(src=item.img , alt='')
            .col-md-8
              h3.my-3 Content
              p
                =item.description
      .container-episodes
        .container
          p
            each data in episodes
              .accordion
                dl
                  dt
                    button.btn.btn-light-blue.float-right.btn-sm(type='button') Escuchar Audio
                    a.accordion-title.accordionTitle.js-accordionTrigger(href='#accordion1', aria-expanded='false', aria-controls='accordion1') 
                      =data.episode
                  dd#accordion1.accordion-content.accordionItem.is-collapsed(aria-hidden='true')
                    p
                      =data.info




            //- #accordion(role='tablist', aria-multiselectable='true')
            //-   .card
            //-     #headingOne.card-header(role='tab', data-toggle='collapse', data-parent='#accordion', data-target='#collapseOne')
            //-       button.btn.btn-light-blue.float-right.btn-sm(type='button') Escuchar Audio
            //-       h5.mb-0
            //-         a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
            //-           =data.episode
            //-     #collapseOne.collapse.in(role='tabpanel', aria-labelledby='headingOne')
            //-       .card-block
            //-         =data.info


                //-      #accordion.panel-group
                //- .panel.panel-default
                //-   .panel-heading
                //-     h4.panel-title
                //-       a.accordion-toggle(data-toggle='collapse', href='#collapse' + data.id) #{data.id}
                //-         =data.episode
                //-   div(id="collapse#{data.id}").panel-collapse.collapse
                //-     .panel-body
                //-       =data.info
