extends ../layout/layout

block content
  .container-podcast
    main.mt-5
      .container
        for item in podcast
          h1.text-left.star 
            =item.name
            .fa.fa-star.right
          .row
            .col-md-4
              img.img-fluid.episodes(src=item.img , alt='')
            .col-md-8
              h3.my-3 Content
              p
                =item.description
      .container-episodes
        .container
          p
            each data, index in episodes 
              .accordion
                dl
                  dt
                    button.btn.btn-light-blue.float-right.btn-sm(type='button', data-toggle='modal', data-target=('.modal-' + index)) Escuchar Audio
                    .modal.fade(class=('modal-' + index) tabindex='-1', role='dialog', aria-labelledby='mySmallModalLabel', aria-hidden='true') 
                      .modal-dialog.modal-lg
                        .modal-content
                          .container-player
                            .player
                              .image
                                img.cover(src=data.img, alt="Cover")
                                .filter
                              .description
                                //- p Quinn XCII
                                h6 
                                  =data.episode
                              .audiojs
                                .container    
                                  audio(controls='', preload='none')
                                    source(src=data.audioOnline, type='audio/mpeg')
                              .likeandfav
                                .fa.fa-heart
                                .fa.fa-star
                    a.accordion-title.accordionTitle.js-accordionTrigger(href='#accordion1', aria-expanded='false', aria-controls='accordion1') 
                      =data.episode
                  dd#accordion1.accordion-content.accordionItem.is-collapsed(aria-hidden='true')
                    p
                      =data.info
