doctype html
html(lang='en' ng-app="podcast")
  head
    meta(charset='UTF-8')
    title PodCast
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css')
    // Bootstrap core CSS
    link(href='/css/bootstrap.min.css', rel='stylesheet')
    // Material Design Bootstrap
    link(href='/css/mdb.min.css', rel='stylesheet')
    // Your custom styles (optional)
    link(href='/css/style.css', rel='stylesheet')
    link(href='/css/normalize.css', rel='stylesheet')
  body
      include ../includes/header
      block content
      script(type='text/javascript', src='/js/jquery-3.1.1.min.js')
      script(type='text/javascript', src='/js/popper.min.js')
      script(type='text/javascript', src='/js/bootstrap.min.js')
      script(type='text/javascript', src='/js/mdb.min.js')
      script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js')
      script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js')
      script(type='text/javascript', src='/js/main.js')
      script(type='text/javascript', src='/js/account/favorites/controller.js')


