extends ../layout/layout
block content
  p
    main(ng-controller='usersController')
      .container
        .row.my-2
          .col-lg-4.order-lg-1.text-center
            img.mx-auto.img-fluid.img-circle.d-block(ng-src='{{ user.image }}', alt='avatar')
            h6.mt-2 
            label.custom-file
              input(ngf-select='fileSelected($files)', type='file', accept="'image/*'", name='file')
              span.custom-file-control
            button.btn.mybutton.btn-md.savechanges(type='submit', ng-click='uploadFile()', img-upload='',) Upload image
          .col-lg-8.order-lg-2
            form.form-horizontal(role='form', action='/api/user/update', method='POST')
              input.form-control.hidden(value='{{ user._id }}', name='_id', type='text')
              legend Personal information
              .form-group
                label.col-lg-3.control-label First name:
                .col-lg-8
                  input.form-control(value='{{ user.firstname }}', name='firstname', type='text')
              .form-group
                label.col-lg-3.control-label Last name:
                .col-lg-8
                  input.form-control(value='{{ user.lastname }}', name='lastname', type='text')
              .form-group
                label.col-lg-3.control-label Country:
                .col-lg-8
                  input.form-control(value='{{ user.country }}', name='country', type='text')
              .form-group
                label.col-lg-3.control-label Age:
                .col-lg-8
                  input.form-control(value='{{ user.age }}', name='age', type='text')
              .form-group
                label.col-lg-3.control-label About me:
                .col-lg-8
                  textarea.form-control(name='about') {{ user.about }}
              .form-group
                label.col-lg-3.control-label Email:
                .col-lg-8
                  input.form-control(value='{{ user.username }}', name='email', type='email')
              .col-lg-8.col-lg-offset-3.containbutton
                button.btn.mybutton.btn-md.savechanges(type='submit', ng-click='showAlert()') Save changes
