extends ../layout/layout

block content
  main
    #carousel-example-1z.carousel.slide.carousel-fade(data-ride='carousel')
      ol.carousel-indicators
        li.active(data-target='#carousel-example-1z', data-slide-to='0')
        li(data-target='#carousel-example-1z', data-slide-to='1')
        li(data-target='#carousel-example-1z', data-slide-to='2')
      .carousel-inner(role='listbox')
        .carousel-item.active
          img.d-block.w-100(src='img/header-guitar.jpg', alt='First slide')
        .carousel-item
          img.d-block.w-100(src='img/header-sound.png', alt='Second slide')
        .carousel-item
          img.d-block.w-100(src='img/header-head.png', alt='Third slide')
        
      a.carousel-control-prev(href='#carousel-example-1z', role='button', data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carousel-example-1z', role='button', data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
     
  .container
    // Page Heading
    h1.my-4
      small Section of PodCast!
    .row
      .col-lg-3.col-md-4.col-sm-6.portfolio-item
        .card.h-100
          img.card-img-top(src='img/software.jpg', alt='')
          .card-body
            h4.card-title
              | Software How-To 
            p.card-text
              | The project you are most resisting carries your greatest growth.
          a.btn.btn-primary(href='category/Software How-To') Go
      .col-lg-3.col-md-4.col-sm-6.portfolio-item
        .card.h-100
          img.card-img-top(src='img/self.jpeg', alt='')
          .card-body
            h4.card-title
              | Self-Help
            p.card-text
              | Self-help, or self-improvement, is a self-guided improvement[1]—economically, intellectually, or emotionally—often with a substantial psychological basis.
          a.btn.btn-primary(href='category/Self-Help') Go
      .col-lg-3.col-md-4.col-sm-6.portfolio-item
        .card.h-100
          img.card-img-top(src='img/chess.jpeg', alt='')
          .card-body
            h4.card-title
              | Games & Hobbies
            p.card-text
              | A problem is only a problem when viewed as a problem.
          a.btn.btn-primary(href='category/Games & Hobbies') Go
      .col-lg-3.col-md-4.col-sm-6.portfolio-item
        .card.h-100
          img.card-img-top(src='img/buss.jpg', alt='')
          .card-body
            h4.card-title
              | Bussiness
            p.card-text
              |To double your income, triple your investment in Bussiness.
          a.btn.btn-primary(href='category/Business') Go
      .col-lg-3.col-md-4.col-sm-6.portfolio-item
        .card.h-100
          img.card-img-top(src='img/manage.jpg', alt='')
          .card-body
            h4.card-title
              | Management & Marketing
            p.card-text
              | Small daily improvements over time lead to stunning results.
          a.btn.btn-primary(href='category/Management&Marketing') Go
      .col-lg-3.col-md-4.col-sm-6.portfolio-item
        .card.h-100
          img.card-img-top(src='img/history.jpeg', alt='')
          .card-body
            h4.card-title
              | History
            p.card-text
              |History (from Greek ἱστορία - historia, meaning "inquiry, knowledge acquired by investigation")
      .col-lg-3.col-md-4.col-sm-6.portfolio-item
        .card.h-100
          img.card-img-top(src='img/comedy.jpeg', alt='')
          .card-body
            h4.card-title
              | Comedy
            p.card-text
              |Comedy is a genre of film that uses humor as a driving force. The aim of a comedy film is to illicit laughter from the audience through entertaining stories and characters.  
          a.btn.btn-primary(href='category/Comedy') Go
      .col-lg-3.col-md-4.col-sm-6.portfolio-item
        .card.h-100
          img.card-img-top(src='img/education.jpeg', alt='')
          .card-body
            h4.card-title
              | Education
            p.card-text
              |  Education is inoculation against disruption.
          a.btn.btn-primary(href='category/Training') Go
